@font-face {
    font-family: 'Jura';
    src: url('../../assets/fonts/jura.ttf');
}

body {
    font-family: 'Jura', Arial, Helvetica, sans-serif;
    color: white;
    background-color: #80B251;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}

div#scopes {
    position: fixed;
    height: 10vh;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.scope {
    border-width: 0;
    border-radius: 50%;
    border-color: #7CFC00;
    opacity: 0.6;
    color: #fff;
    transition: all ease .5s;
}

.scope:hover {
    border-width: 2px;
    transition: all ease .5s;
}